@import "./../../../../styles/media.scss";
@import "./../../../../styles/colors.scss";

.order {
	&__total {
		position: relative;
		display: flex;
		flex-direction: column;
		border-left: 1px solid $lightGreyColor;
		@include beforeTabletMax() {
			border-left: none;
		}
	}
	&__total-title {
		font-size: 18px;
		font-weight: 500;
		display: flex;
		align-self: flex-end;
		margin-bottom: 26px;
		@include desktopMin() {
			font-size: 16px;
		}
		@include tablet() {
			font-size: 14px;
		}
		@include beforeTabletMax() {
			margin-bottom: 12px;
		}
		@include beforeTablet() {
			font-size: 12px;
			display: flex;
			align-self: center;
		}
	}
	&__total-info {
		font-weight: 300;
		font-size: 14px;
		display: flex;
		flex-direction: column;
		margin-bottom: 32px;
		@include beforeDesktopMax() {
			font-size: 10px;
		}
		@include beforeTablet() {
			font-size: 8px;
		}	
		&-item {
			display: flex;
			justify-content: space-between;
			&:not(:last-child) {
				margin-bottom: 16px;
				@include desktopMin() {
					margin-bottom: 14px;
				}
				@include tablet() {
					margin-bottom: 10px;
				}
				@include beforeTablet() {
					margin-bottom: 6px;
				}
			}
		}
		&-points {
			color: $greyColor;
			margin: 0 5px;
			flex-grow: 1;
			overflow: hidden;
			position: relative;
			&__item {
				width: 100%;
				height: 100%;
				position: absolute;
				display: flex;
			}
		}
	}
	&__total-price {
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 32px;
		@include desktopMin() {
			font-size: 14px;
		}
		@include tablet() {
			font-size: 12px;
		}
		@include beforeTablet() {
			font-size: 10px;
		}
		&-title {
			font-weight: 500;
		}
	}
	&__total-button {
		@include beforeTabletMax() {
			position: absolute;
			bottom: 20px;
			right: 0;
			width: 300px;
		}
		& a {
			display: inline-block;
			font-size: 18px;
			font-weight: 500;
			text-align: center;
			padding: 15px 0 11px 0;
			width: 100%;
			@include beforeTablet() {
				font-size: 14px;
				padding: 12px 0 8px 0;
			}
		}
	}
}
