.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 20px;
	top: 36px;

 }

 .bm-burger-bars {
	background: #fff;
	@media (max-width: 768px) {
		background-color:#121212;
	}
	
 }
 
 .bm-burger-bars-hover {
	background: #0EC261ed;
 }
 
 .bm-cross-button {
	width: 24px;
	height: 24px;
	position: absolute !important;
	left: 24px !important;
	top: 40px !important;
}
 
 .bm-cross {
	background-color: #fff;
 }

 .bm-menu-wrap {
	position: fixed;
	height: 100%;
 }
 
 .bm-menu {
	background: #373a47;
	font-size: 1.15em;
	background-color: #111518;
	font-family: Roboto;
 }
 
 .bm-morph-shape {
	fill: #373a47;
 }
 
 .bm-item-list {
	color: #b8b7ad;
	padding: 307px 0.8rem 0.8rem 128px;
	@media (max-width: 767px) {
		padding: 80px 0.8rem 0.8rem 28px;
	}
 }

 .bm-overlay {
	background: rgba(21, 27, 31, 0.81) !important;
 }
 .bm-wrapper {
	 display: flex !important;
	 flex-direction: column !important;
	 margin-bottom: 38px;
	 font-size: 32px;
	 font-weight: 500;
	 color: #fff;
	 @media (min-width: 768px) and (max-width: 1023px) {
		 font-size: 28px;
	 }
	 @media (max-width: 767px) {
		 font-size: 22px;
	 }
	 & > a {
		 color: #fff;
		 margin-bottom: 20px;
		 text-transform: uppercase;
	 }
	 & > a:last-of-type {
		 margin-bottom: 38px;
	 }
	 & > a:hover {
		 color: #0EC261ed;
		 transition: color 0.2s;
	 }
	 &-icons {
		 & > a {
			 margin-right: 24px;
			 cursor: pointer;
		 }
	 }
	 &-lang {
		 display: none;
		 color: #0EC261;
		 font-size: 13px;
		 position: absolute;
		 bottom: 28px;
		 @media (max-width: 767px) {
			 display: block;
		 }
	 }
 }