@import './../../styles/colors.scss';
@import './../../styles/media.scss';

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 20px;
	top: 36px;

 }

 .bm-burger-bars {
	background: $whiteColor;
	@include beforeTablet() {
		background-color:#121212;
	}
	
 }
 
 .bm-burger-bars-hover {
	background: $greenColor;
 }
 
 .bm-menu-wrap .bm-cross-button {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 24px;
	top: 40px;
}
 
 .bm-cross {
	background-color: $whiteColor;
 }

 .bm-menu-wrap {
	position: fixed;
	height: 100%;
 }
 
 .bm-menu {
	background: $burgerMenuColor;
	font-size: 1.15em;
	background-color: $burgerMenuColor-2;
	font-family: Roboto;
 }
 
 .bm-morph-shape {
	fill: $burgerMenuColor;
 }
 
 .bm-item-list {
	color: #b8b7ad;
	padding: 307px 0.8rem 0.8rem 128px;
	@media (max-width: 767px) {
		padding: 80px 0.8rem 0.8rem 28px;
	}
 }

.bm-overlay {
	background-color: $burgerMenuColor-2 !important;
	opacity: 0.81 !important;
 }
.bm-wrapper {
	 display: flex !important;
	 flex-direction: column;
	 margin-bottom: 38px;
	 font-size: 32px;
	 font-weight: 500;
	 color: $whiteColor;
	 @include tablet() {
		 font-size: 28px;
	 }
	 @include beforeTablet() {
		 font-size: 22px;
	 }
	 & > a {
		 color: $whiteColor;
		 margin-bottom: 20px;
		 text-transform: uppercase;
		 &:last-of-type {
			 margin-bottom: 38px;
		 }
		 &:hover {
			color: $greenColor;
		 	transition: color 0.2s;
		 }
	 }
	 &-icons {
		 & > a {
			 margin-right: 24px;
			 cursor: pointer;
		 }
	 }
	 &-lang {
		 display: none;
		 color: $greenColor;
		 font-size: 13px;
		 position: absolute;
		 bottom: 28px;
		 @include beforeTablet() {
			 display: block;
		 }
	 }
 }