@font-face {
	font-family: Roboto;
	src: url(./../commons/fonts/Roboto-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Roboto;
	src: url(./../commons/fonts/Roboto-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Roboto;
	src: url(./../commons/fonts/Roboto-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: Roboto;
	src: url(./../commons/fonts/Roboto-Medium.ttf);
	font-weight: 500;
}