@import './../../../../../styles/colors.scss';
@import './../../../../../styles/media.scss';
@import './../../../../../styles/radio-group.scss';

.model {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	&__group {
		margin-bottom: 48px;
		font-size: 14px;
		@include beforeTabletMax() {
			margin-bottom: 18px;
			font-size: 12px;
		}
	}
	&__list {
		height: 100%;
		width: 70%;
		@include beforeTabletMax() {
			width: 100%;
			height: 250px;
		}
		&-container {
			overflow: hidden;
			position: relative;
			height: 100%;
		}
		&-content {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			overflow: auto;
		}
		::-webkit-scrollbar {
			display: none;
	  }
		&-item {
			width: 50%;
			border: 1px solid $lightGreyColor;
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 16px;
			@include beforeTablet() {
				width: 100%;
				height: 250px;
			}
			@include desktopMin() {
				padding: 8px;
				height: 250px;
			}
			@include tablet() {
				padding: 4px;
				height: 150px;
			}
			&:hover {
				border: 1px solid $lightGreyColor;
				cursor: pointer;
			}
			&-header {
				display: flex;
				flex-direction: column;
				font-size: 18px;
				font-weight: 400;
				@include desktopMin() {
					font-size: 16px;
				}
				@include tablet() {
					font-size: 14px;
				}
				&-title {
					margin-bottom: 3px;
				}
				&-price {
					font-size: 14px;
					@include desktopMin() {
						font-size: 12px;
					}
					@include tablet() {
						font-size: 10px;
					}
					color: $lightGreyColor;
				}
			}
			&-img {
				display: flex;
				justify-content: flex-end;
				& > img {
					width: 300px;
					@include desktopMin() {
						width: 220px;
					}
					@include tablet() {
						width: 200px;
					}
					@include beforeTablet() {
						width: 220px;
					}
				}
			}
		}
	}
}
.checked-car {
	border: 1px solid $greenColor !important;
	&:hover {
		border: 1px solid $greenColor !important;
	}
}